[user]
	name = Ömer Balyali
	name = Ömer Balyali
	username = omerbalyali
	email = omerbalyali@gmail.com

[includeIf "gitdir:~/"]
	path = ~/.gitconfig.personal

[includeIf "gitdir:~/Development/Work"]
	path = ~/.gitconfig.work

[alias]
	a = add
	b = branch
	c = commit
	s = status
	sw = switch
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lg = log --oneline --graph
	lgo = log --oneline
	unstage = reset HEAD --
	last = log -1 HEAD
[init]
	defaultBranch = main
