[user]
	email = omerbalyali@gmail.com
	name = Omer Balyali
	username = omerbalyali
[alias]
	a = add
	c = commit
	s = status
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	excludesfile = /Users/alpha/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[commit]
	template = /Users/alpha/.stCommitMsg
[init]
	defaultBranch = main
